In [ ]:
import tweepy
import pandas as pd
import numpy as np

from IPython.display import display

In [ ]:
# import access keys:
from credentials import *

# api's set up:
def twitter_setup():
    
    # authentication and access using keys:
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
    
    # return api with authentication: 
    api = tweepy.API(auth)
    return api

In [34]:
api = twitter_setup()

# define the search sentences 
sentence1 = "@Mobily1100"

In [5]:
# collect tweets
tweets = tweepy.Cursor(api.search_tweets,
              q=sentence1).items(5000)

dataFrame1 = pd.DataFrame(data = [[tweet.text, tweet.id, tweet.user.screen_name,tweet.user.location,tweet.created_at,tweet.favorite_count,tweet.retweet_count] for tweet in tweets], columns=['Tweet','ID','User','Location','Date','Likes','Retweets'])

NameError: name 'tweepy' is not defined

In [33]:
# Display tweets
display(dataFrame1.tail())
# Export tweets
dataFrame1.to_csv("TweetsPhase1.csv",index=False,encoding="utf-8-sig")

,Tweet,ID,User,Location,Date,Likes,Retweets
655,@ahmedalkhalifha احد اهم الاسباب اللي تخلي الب...,1494625064221872135,daliaf22,Riyadh,2022-02-18 10:49:18+00:00,3,0
656,2. تنمية المدخرات: تنمية رأس المال عن طريق الا...,1494620799289937921,getbaraka,United Arab Emirates,2022-02-18 10:32:21+00:00,4,1
657,RT @manayr_132: @noor_moe_sa1439 يفضل عن بعد ف...,1494619646326157315,alsamr22221,,2022-02-18 10:27:47+00:00,0,1
658,@News_Ejazah دراسه عن بعد اكيد صح 😉,1494616509834010677,fahdfarg52,"تبوك, المملكة العربية السعودية",2022-02-18 10:15:19+00:00,0,0
659,@ibr_919 وعليكم السلام، في حال تم إضافة تابع ب...,1494613934694932530,Citizen_care,,2022-02-18 10:05:05+00:00,0,0